{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Tests</a>
            <a class="navbar-brand" href="{{ url_for('run') }}">Run</a>
            <a class="navbar-brand" href="{{ url_for('schema') }}">Schema (last)</a>
            <a class="navbar-brand" href="{{ url_for('cleanup') }}">Cleanup</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
