{% macro display_link (api_url, is_get) %}
    <td>
        {% if is_get %} <a href='{{ api_url }}'>{% endif %}
            {{ api_url }}
        {% if is_get %} </a> {% endif %}
    </td>
{% endmacro %}

{% macro test_row(api_category, api_name, api_type, api_url) %}
    <tr>
        <td>{{ api_category }}</td>
        <td>{{ api_name }}</td>
        <td>{{ api_type }}</td>
        <td>{{ api_url }}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" onclick="window.open('/duplicate?cat={{api_category}}&name={{api_name}}')">Duplicate</button>
            <button type="button" class="btn btn-primary btn-sm" onclick="window.open('/delete?cat={{api_category}}&name={{api_name}}')">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% macro schema_row(tab, line) %}
    {% set class = tab %}
    {% if "fail" in line %}{% set class = class ~ " fail" %}{% endif %}
    <p>
        <span class="{{class}}">{{line}}</span>
    </p>
{% endmacro %}

{% macro result_row(test_path, api_url, api_type, executed_at, time_spent, result, debuglog, schema) %}
    <tr>
        {# {{ display_link (api_url, api_type == "GET") }} #}
        
        <td><a href='{{ test_path }}'>{{ api_url }}</a></td>
        <td>{{ api_type }}</td>
        <td>{{ executed_at }}</td>
        <td>{{ time_spent }}</td>
        <td><a href='{{ debuglog }}'>{{ result }}</a></td>
        
        {# Write "Comparison Report only if "schema" argument points to a text file #}
        {% if schema.endswith (".txt") %}
            <td><a href='{{ schema }}'>Comparison Report</a></td>
        {% endif %}
    </tr>
{% endmacro %}
